* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'sans-serif';
    color: #999999;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.container {
    margin: auto;
    max-width: 400px;
    width: 100%;
    padding: 16px;
    /* border: solid red 1px; */
}

.input-container {
    position: relative;
    display: flex;
    width: 100%;
}

label {
    display: block;
    position: absolute;
    padding: 8px 16px;
    font-size: 0.626rem;
    line-height: 1rem;
    color: #999999;
    pointer-events: none;
}

input {
    padding: 28px 16px 12px;
    display: absolute;
    font-size: 1rem;
    width: 100%;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    margin-bottom: 16px;

}

/* Victor sarabia button 2 Styles */
button {
    width: 100%;
    padding: 16px;
    border: 1px solid #E06500;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.67px;

    border-radius: 30px;
    position: relative;
    padding-right: 24px;
    background-image: linear-gradient(#FFA55C, #FF780A);
    text-shadow: 0 2px 2px #E06500;
    box-shadow:
        inset 0 1px 1px #FFD2AD,
        0 0 4px rgba(0, 0, 0, 0.25),
        0 2px 4px rgba(0, 0, 0, 0.25);
    transition: all 100ms ease;
}

button:after {
    content: "";
    background-image: url('img/arrow.svg');
    background-size: contain;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 14px;
    right: 24px;
    border: springgreen;
}

button:hover {
    transform: translateY(-4px);
    box-shadow: 
        inset 0 1px 1px #FFD2AD, 
        0 0 8px rgba(0, 0, 0, 0.05), 
        0 4px 8px rgba(0, 0, 0, 0.25);
    transition: all 50ms ease;
}
button:active {
    transform: translateY(0);
    background-image: linear-gradient( #FF780A, #FFA55C);
    box-shadow: 
        inset 0 0 8px #E06500, 
        0 1px 2px #FFFFFF;
    transition: all 50ms ease;
}



/* checkmark Styles and animation */

.checkmark-container {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    pointer-events: none;
    /* border: #eb9046 solid 1px; */
    width: 100%;
    padding: 16px;
    margin-top: -8px;
}

.checkmark{
    opacity: 0;
    transform: rotate(-20deg) scale(0.4);
     
    
}



.unhide{
    opacity: 1;
    transform: rotate(0deg) scale(1); 
    transition: all 300ms cubic-bezier(0.25, 1, 0.5, 1);
}

.validated{
    border: 1px solid #35D475;
    background-color: #DDF8E8;
}